/* Google Fonts style link */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.Main-body {
  display: flex;
}

.Main-body .my-task {
  min-width: 12%;
  background-color: #e0e2f1;

  padding: 10px;
}
.Main-body .task-head #mobile-cross-button {
  background-color: transparent;
  color: black;
  padding-top: 10px;
}

.Main-body .task-item .task {
  display: flex;
  padding: 6px;
  align-items: center !important;
  justify-content: centers;
 
  margin-bottom: 25px;
}

.Main-body .task-item .task-head {
  display: flex;
  padding: 6px;
  align-items: center !important;
  justify-content: space-between;
  margin-bottom: 25px;
}
#mobile-cross-button {
  display: none;
}
.Main-body .task-item .task-head a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-left: 6px;
  font-weight: 700;
}
.Main-body .task-item .task-head span {
  padding: 6px;
  background-color: #6e4ff2;
  border-radius: 3px;
  color: white;
}

.Main-body .task-item .task-head h3 {
  padding-left: 6px;
}
.task a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.task:hover a {
  text-decoration: none;
  color: #ffffff;
}
.Main-body .task-item .task:hover {
  background-color: #6e4ff2;
  border-radius: 10px;
  color: #ffffff;
}
.Main-body .task-item .task p a {
  font-weight: 500;
}
.Main-body .task-item .task:hover p a {
  color: #ffffff;
}
.Main-body .task-item .task:hover span {
  color: #ffffff;
}
.Main-body .task-item .task span {
  margin-right: 20px;
  width: 5%;
  align-items: center;
  padding: 6px;
  color: #6e4ff2;
  margin-top: 5px;
}
.Main-body .task-item .task p a {
  text-decoration: none;
  padding-left: 6px;
  color: #6e4ff2;
  font-size: 12px;
}

.Main-body .dashboard {
  width: 88%;
}
.Main-body .dashboard nav {
  display: flex;
  justify-content: space-between;
}
/* style for nav */
.dashboard {
  background-color: #f2f3f7;
  padding: 19px;
}
.dashboard nav {
  padding-bottom: 28px;
}
.dashboard nav #mobile-button {
  display: none;
}
.dashboard nav input {
  padding: 10px;
  border-radius: 20px;
  font-size: 11px;
  outline: none;
  min-width: 210px;
  border: none;
}
.dashboard nav form span {
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 10px;
  border-radius: 4px;
  transform: translate(-30px, 4px);
  background-color: #6e4ff2;
}

.dashboard .profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}
.dashboard .profile p {
  font-size: 11px;
  padding-right: 5px;
}
.dashboard .profile img {
  border-radius: 100%;
}
.dashboard .profile span {
  padding-right: 15px;
  color: #6e4ff2;
}
/* End */
/* style for dashboard body */
.dashboard-body {
  display: flex;
}
.dashboard-body .dashboard-middle-item .image-text {
  align-items: center;
  display: flex;
  padding: 30px;
  border-radius: 16px;
  justify-content: space-between;
  margin-right: 20px;
  background-color: #6e4ff2;
}

.dashboard-body .dashboard-middle-item .image-text .image-text-img {
  width: 34%;
}
.dashboard-body .image-text .image-text-img img {
  border-radius: 40%;
  width: 250px;
  height: 190px;
}
.dashboard-body .dashboard-middle-item .image-text .image-text-text {
  width: 54%;
}
.dashboard-body .dashboard-middle-item .image-text .image-text-text h2 {
  padding-bottom: 20px;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.dashboard-body .dashboard-middle-item .image-text .image-text-text p {
  max-width: 80%;
  line-height: 1.5rem;
  color: white;
}
/* End */

/* style for notification */
.notification {
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  width: 30%;
  border-radius: 10px;
}
.notification button {
  padding: 10px 33px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  min-width: 230px;
  background-color: #6e4ff2;
  margin-bottom: 15px;
  border: none;
}

.notification-task {
  display: flex;
  justify-content: space-between;
}
.notification-task a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.notification-task h5 {
  padding-bottom: 15px;
}
.notification p {
  padding-top: 15px;
}
.notification .task-box {
  margin-top: 20px;
  background-color: #d3cbfa;
  padding: 15px;
  border-radius: 6px;
}
.notification .task-box .image {
  display: flex;
  margin-top: 10px;
}
.notification .task-box .image img:nth-of-type(1) {
  margin-left: 0px;
}
.notification .task-box .image img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-right: 4px;
}
.notification .task-box:nth-of-type(3) {
  margin-top: 20px;
  background-color: #fed4d5;
  padding: 15px;
  border-radius: 6px;
}
.notification .task-box:nth-of-type(4) {
  margin-top: 20px;
  background-color: #bfeff3;
  padding: 15px;
  border-radius: 6px;
}
.notification .task-box:nth-of-type(4) {
  margin-top: 20px;
  background-color: #fcd2d3;
  padding: 15px;
  border-radius: 6px;
}
.notification p {
  font-size: 12px;
}
.notification .task-box p {
  padding-bottom: 10px;
  font-size: 11px;
}
.notification .task-box span {
  font-size: 12px;
}
/* End */

/* style for schedule task */
.inner-schedule-task {
  padding: 20px 20px;
}
.schedule-task p {
  font-weight: 600;
}
.inner-schedule-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-schedule-task .date-box {
  display: flex;
  align-items: center;
}
.date-box p {
  margin-right: 5px;
  font-size: 12px;
}
.date-box .dropbtn {
  padding: 5px 12px;
  border-radius: 3px;
  margin-right: 5px;
  border: none;
  color: white;
  background-color: #7a5cf0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

/* dropdown  hover */
.dropdown-content a:hover {
  background-color: #7a5cf0;
  color: white;
}

.show {
  display: block;
}

.date-box .icon {
  display: flex;
  align-items: center;
}

.date-box span {
  border: 1px solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: rgba(0, 0, 0, 0.411);

  padding: 6px 10px;
  font-size: 8px;
}
.date-box span:nth-of-type(2) {
  border: 1px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 10px;
  border-color: rgba(0, 0, 0, 0.411);
  font-size: 8px;
}
/* End */
